{% extends 'barbershop/base.html' %}

{% load static %}

{% block main %}

<main class="main">   
    <section class="booking">
        <section class="booking_conteiner">
            <div class="wrapper">

                 <div class="block_title">
                    <img src="{% static 'barbershop/img/services/icons_line1.png' %}" alt="inetiv.com">
                    <h2 class="block_title_main_text">Персональные данные</h2>
                    <h4 class="block_title_second_text">Обработка и защита личных данных</h4>
                    <img src="{% static 'barbershop/img/services/icons_line2.png' %}" alt="inetiv.com_line2">
                </div>

                <section class="privacy_policy">
                    <h1>Политика конфиденциальности</h1>

                    <p>Мы уважаем вашу конфиденциальность и обязуемся защищать ваши персональные данные. Данная Политика конфиденциальности объясняет, какие данные мы собираем, как мы их используем и какие у вас есть права.</p>
            
                    <h2>1. Сбор и использование персональных данных</h2>
                    <p>Мы собираем следующие виды данных при использовании нашего сайта и/или при заполнении Вами форм на нашем сайте:</p>
                    <ul>
                        <li><strong>Контактные данные:</strong> имя, телефон, адрес электронной почты.</li>
                        <li><strong>Данные бронирования:</strong> данные о выбранной услуге, время и дата бронирования.</li>
                        <li><strong>Комментарий или сообщение:</strong> дополнительная информация, которую вы указываете в форме.</li>
                    </ul>
                    <br>
                    <p>Эти данные необходимы для обработки ваших заявок, предоставления услуг, связи с вами в случае необходимости и улучшения качества нашего сервиса.</p>
            
                    <h2>2. Цели обработки данных</h2>
                    <p>Собранные данные используются для следующих целей:</p>
                    <ul>
                        <li>Обработка и подтверждение заявок на бронирование.</li>
                        <li>Связь с клиентом для уточнения деталей, подтверждения или отмены бронирования.</li>
                        <li>Ответы на запросы, оставленные через формы обратной связи.</li>
                        <li>Улучшение работы сайта, анализа посещаемости и пользовательского опыта.</li>
                    </ul>
            
                    <h2>3. Правовое основание для обработки данных</h2>
                    <p>Мы обрабатываем ваши данные на следующих законных основаниях:</p>
                    <ul>
                        <li>Соблюдение законодательства страны, регулирующего обработку персональных данных.</li>
                        <li>Исполнение обязательств по договору: обработка заявок и предоставление запрашиваемых услуг.</li>
                        <li>Легитимные интересы нашей компании: улучшение качества сервиса и взаимодействия с клиентами.</li>
                        <li>Полученное согласие пользователя на обработку его данных.</li>
                    </ul>
                    
                    <h2>4. Передача данных третьим лицам</h2>
                    <p>Ваши данные не передаются третьим лицам, за исключением случаев, когда это необходимо для выполнения наших обязательств перед вами.</p>
                    <p><strong>Данные могут быть переданы:</strong></p>
                    <ul>

                        <li>Государственным органам в случаях, предусмотренных законодательством.</li>
                        <li>Поставщикам услуг, например, для хранения данных или обработки платежей.</li>
                    </ul>
                    <br>
                    <p>Мы требуем от всех сторон, получающих доступ к вашим данным, обеспечения их конфиденциальности и использования в строгом соответствии с нашими инструкциями.</p>

                    
                    <h2>5. Сроки хранения данных</h2>
                    <p>Мы храним ваши персональные данные только в течение времени, необходимого для выполнения целей, указанных в этой Политике, или в течение срока, предусмотренного законодательством.</p>
            
                    <h2>6. Ваши права</h2>
                    <p>В соответствии с применимыми законами, вы имеете право:</p>
                    <ul>
                        <li>Запрашивать доступ к вашим персональным данным.</li>
                        <li>Требовать исправления неточных данных или их удаление.</li>
                        <li>Отзывать согласие на обработку данных (если данные обрабатываются на основании согласия).</li>
                        <li>Запросить перенос данных (при определённых обстоятельствах).</li>
                        <li>Подать жалобу в надзорные органы в случае нарушения прав на защиту данных.</li>
                    </ul>
            
                    <h2>7. Защита данных</h2>
                    <p>Мы предпринимаем все разумные меры для защиты ваших данных от утраты, несанкционированного доступа, использования, изменения или раскрытия.</p>
            
                    <h2>8. Использование файлов cookie</h2>
                    <p>Наш сайт <strong>может</strong> использовать файлы cookie для улучшения функциональности, аналитики и персонализации контента.</p>
            
                    <h2>9. Изменения в Политике конфиденциальности</h2>
                    <p>Мы можем обновлять эту Политику конфиденциальности по мере необходимости. Обновления публикуются на этой странице.</p>
            
                    <h2>10. Контактная информация</h2>
                    <p>Если у вас есть вопросы по поводу нашей Политики конфиденциальности или обработки данных, свяжитесь с нами. Контакты указаны на главной странице сайта.</p>
                </section>
            </div>
        </section>

    </section>

    <script src="{% static 'barbershop/js/main.js' %}"></script>      
    <script src="{% static 'barbershop/js/textwritter.js' %}"></script>  

    

</main>

{% endblock main %}

