{% extends 'barbershop/base.html' %}

{% load static %}

{% block main %}

<main class="main">   
    <section class="booking">
        <section class="booking_conteiner">
            <div class="wrapper">

                 <div class="block_title">
                    <img src="{% static 'barbershop/img/services/icons_line1.png' %}" alt="inetiv.com">
                    <h2 class="block_title_main_text">СТАТУС ЗАПИСИ</h2>
                    <h4 class="block_title_second_text">Давайте убедимся, что все готово для вашего визита!</h4>
                    <img src="{% static 'barbershop/img/services/icons_line2.png' %}" alt="inetiv.com_line2">
                </div>

                <section class="booking_block">

                    <div class="check-record-container">
                        <p class="check-record-description">Введите последние 6 цифр вашего номера телефона, чтобы узнать о вашей записи:</p>

                        <div class="check-record-input">
                            <input type="text" id="phone-input" maxlength="6" placeholder="Введите последние 6 цифр" />
                            <button id="check-button">Проверить</button>
                        </div>
                        
                        <div id="result-message" class="result-message hidden">
                            <!-- -->
                        </div>

                        <p class="check-record-description">* Запись подтверждается мастером в течение двух часов с момента её подачи.</p>
                    </div>


                    
                </section>
                

            </div>
        </section>

    </section>

    <script src="{% static 'barbershop/js/main.js' %}"></script>      
    <script src="{% static 'barbershop/js/verify.js' %}"></script>    
    <script src="{% static 'barbershop/js/textwritter.js' %}"></script>  

    

</main>

{% endblock main %}

